<a href="https://colab.research.google.com/github/sunshineluyao/ESG_TwoSources/blob/main/Sorting/SP1500_Creating_Benchmark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
### show all columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Step 1: Calculating Industry Adjusted BMR Quarterly

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/ESG_TwoSources/main/Sorting/Long_Term_Book_Market_Ratio.csv')
df.head()

,Ticker Symbol,Book_Value_1,Book_Value_2,Book_Value_3,Book_Value_4,Book_Value_5,Market_Value_1,Market_Value_2,Market_Value_3,Market_Value_4,Market_Value_5
0,A,4243.00,4831.00,4567.00,4748.00,4873.00,13888.06,14658.83,21632.52,21488.24,26461.75
1,AAL,5635.00,3785.00,-780.00,-169.00,-118.00,26694.29,24191.26,24896.31,14789.27,12563.50
2,AAOI,165.40,227.38,333.28,329.09,273.79,288.89,403.18,733.03,305.49,238.93
3,AAON,178.92,205.90,237.23,249.44,290.14,1256.04,1743.56,1925.59,1826.43,2573.20
4,AAP,2460.65,2916.19,3415.20,3550.81,3549.08,11022.84,12456.30,7366.90,11477.84,11092.58

### 1. calculating Longterm_BV, Longterm_MV, and Longterm BMV

In [4]:
df['Longterm_BV']= (df['Book_Value_1']+df['Book_Value_2']+df['Book_Value_3']+df['Book_Value_4']+df['Book_Value_5'])/5
df['Longterm_MV']= (df['Market_Value_1']+df['Market_Value_2']+df['Market_Value_3']+df['Market_Value_4']+df['Market_Value_5'])/5
df['Longterm_BMR']=df['Longterm_BV']/df['Longterm_MV']
df.head()

,Ticker Symbol,Book_Value_1,Book_Value_2,Book_Value_3,Book_Value_4,Book_Value_5,Market_Value_1,Market_Value_2,Market_Value_3,Market_Value_4,Market_Value_5,Longterm_BV,Longterm_MV,Longterm_BMR
0,A,4243.00,4831.00,4567.00,4748.00,4873.00,13888.06,14658.83,21632.52,21488.24,26461.75,4652.400,19625.880,0.237054
1,AAL,5635.00,3785.00,-780.00,-169.00,-118.00,26694.29,24191.26,24896.31,14789.27,12563.50,1670.600,20626.926,0.080991
2,AAOI,165.40,227.38,333.28,329.09,273.79,288.89,403.18,733.03,305.49,238.93,265.788,393.904,0.674753
3,AAON,178.92,205.90,237.23,249.44,290.14,1256.04,1743.56,1925.59,1826.43,2573.20,232.326,1864.964,0.124574
4,AAP,2460.65,2916.19,3415.20,3550.81,3549.08,11022.84,12456.30,7366.90,11477.84,11092.58,3178.386,10683.292,0.297510

###2. Caculating Industry_Ave_BMR

In [5]:
df_SIC = pd.read_csv("https://raw.githubusercontent.com/sunshineluyao/ESG_TwoSources/main/Sorting/SP1500_SIC_Pre_Analysis.csv")
df_SIC.head()

,Symbol,Name,Stock Exchange,RBICS Economy,SIC Code
0,A,"Agilent Technologies, Inc.",NYSE,Healthcare,3826
1,AAL,"American Airlines Group, Inc.",NASDAQ,Industrials,4512
2,AAN,"PROG Holdings, Inc.",NYSE,Consumer Cyclicals,7359
3,AAOI,"Applied Optoelectronics, Inc.",NASDAQ,Technology,3357
4,AAON,"AAON, Inc.",NASDAQ,Industrials,3585

In [6]:
df_SIC.dtypes

Symbol            object
Name              object
Stock Exchange    object
RBICS Economy     object
SIC Code          object
dtype: object

In [7]:
df_SIC['SIC Code']=pd.to_numeric(df_SIC['SIC Code'], errors = 'coerce')
df_SIC=df_SIC.dropna()

In [8]:
df_SIC['SIC_2']=df_SIC['SIC Code'].apply(lambda x:int(x/100))
df_SIC.head()

,Symbol,Name,Stock Exchange,RBICS Economy,SIC Code,SIC_2
0,A,"Agilent Technologies, Inc.",NYSE,Healthcare,3826.0,38
1,AAL,"American Airlines Group, Inc.",NASDAQ,Industrials,4512.0,45
2,AAN,"PROG Holdings, Inc.",NYSE,Consumer Cyclicals,7359.0,73
3,AAOI,"Applied Optoelectronics, Inc.",NASDAQ,Technology,3357.0,33
4,AAON,"AAON, Inc.",NASDAQ,Industrials,3585.0,35

In [9]:
df=df_SIC.merge(df, left_on='Symbol',right_on='Ticker Symbol',how='inner')
df.head()

,Symbol,Name,Stock Exchange,RBICS Economy,SIC Code,SIC_2,Ticker Symbol,Book_Value_1,Book_Value_2,Book_Value_3,Book_Value_4,Book_Value_5,Market_Value_1,Market_Value_2,Market_Value_3,Market_Value_4,Market_Value_5,Longterm_BV,Longterm_MV,Longterm_BMR
0,A,"Agilent Technologies, Inc.",NYSE,Healthcare,3826.0,38,A,4243.00,4831.00,4567.00,4748.00,4873.00,13888.06,14658.83,21632.52,21488.24,26461.75,4652.400,19625.880,0.237054
1,AAL,"American Airlines Group, Inc.",NASDAQ,Industrials,4512.0,45,AAL,5635.00,3785.00,-780.00,-169.00,-118.00,26694.29,24191.26,24896.31,14789.27,12563.50,1670.600,20626.926,0.080991
2,AAOI,"Applied Optoelectronics, Inc.",NASDAQ,Technology,3357.0,33,AAOI,165.40,227.38,333.28,329.09,273.79,288.89,403.18,733.03,305.49,238.93,265.788,393.904,0.674753
3,AAON,"AAON, Inc.",NASDAQ,Industrials,3585.0,35,AAON,178.92,205.90,237.23,249.44,290.14,1256.04,1743.56,1925.59,1826.43,2573.20,232.326,1864.964,0.124574
4,AAP,"Advance Auto Parts, Inc.",NYSE,Consumer Cyclicals,5531.0,55,AAP,2460.65,2916.19,3415.20,3550.81,3549.08,11022.84,12456.30,7366.90,11477.84,11092.58,3178.386,10683.292,0.297510

In [10]:
df.isna().sum()

Symbol            0
Name              0
Stock Exchange    0
RBICS Economy     0
SIC Code          0
SIC_2             0
Ticker Symbol     0
Book_Value_1      0
Book_Value_2      1
Book_Value_3      1
Book_Value_4      1
Book_Value_5      1
Market_Value_1    0
Market_Value_2    3
Market_Value_3    3
Market_Value_4    3
Market_Value_5    3
Longterm_BV       1
Longterm_MV       3
Longterm_BMR      4
dtype: int64

In [11]:
df=df.dropna()

In [12]:
df=df.drop(columns=['Ticker Symbol'])
df.head()

,Symbol,Name,Stock Exchange,RBICS Economy,SIC Code,SIC_2,Book_Value_1,Book_Value_2,Book_Value_3,Book_Value_4,Book_Value_5,Market_Value_1,Market_Value_2,Market_Value_3,Market_Value_4,Market_Value_5,Longterm_BV,Longterm_MV,Longterm_BMR
0,A,"Agilent Technologies, Inc.",NYSE,Healthcare,3826.0,38,4243.00,4831.00,4567.00,4748.00,4873.00,13888.06,14658.83,21632.52,21488.24,26461.75,4652.400,19625.880,0.237054
1,AAL,"American Airlines Group, Inc.",NASDAQ,Industrials,4512.0,45,5635.00,3785.00,-780.00,-169.00,-118.00,26694.29,24191.26,24896.31,14789.27,12563.50,1670.600,20626.926,0.080991
2,AAOI,"Applied Optoelectronics, Inc.",NASDAQ,Technology,3357.0,33,165.40,227.38,333.28,329.09,273.79,288.89,403.18,733.03,305.49,238.93,265.788,393.904,0.674753
3,AAON,"AAON, Inc.",NASDAQ,Industrials,3585.0,35,178.92,205.90,237.23,249.44,290.14,1256.04,1743.56,1925.59,1826.43,2573.20,232.326,1864.964,0.124574
4,AAP,"Advance Auto Parts, Inc.",NYSE,Consumer Cyclicals,5531.0,55,2460.65,2916.19,3415.20,3550.81,3549.08,11022.84,12456.30,7366.90,11477.84,11092.58,3178.386,10683.292,0.297510

In [13]:
df.isna().sum()

Symbol            0
Name              0
Stock Exchange    0
RBICS Economy     0
SIC Code          0
SIC_2             0
Book_Value_1      0
Book_Value_2      0
Book_Value_3      0
Book_Value_4      0
Book_Value_5      0
Market_Value_1    0
Market_Value_2    0
Market_Value_3    0
Market_Value_4    0
Market_Value_5    0
Longterm_BV       0
Longterm_MV       0
Longterm_BMR      0
dtype: int64

In [14]:
df_temp=df.groupby(['SIC_2'], as_index=False)['Longterm_BMR'].mean()
df_temp.columns = ['SIC_2','Industry_Ave_BMR']
df_temp

    SIC_2  Industry_Ave_BMR
0       2          0.440423
1       7          3.962640
2      10          0.238787
3      12          0.800369
4      13          0.739010
5      14          0.373406
6      15          0.769834
7      16          0.551259
8      17          0.483880
9      20          0.343443
10     21         -0.059793
11     22          0.489358
12     23          0.649784
13     24          0.305128
14     25          0.204656
15     26          0.502014
16     27          0.443379
17     28          0.326213
18     29          0.479943
19     30          0.290345
20     31          0.364854
21     32          0.363533
22     33          0.668325
23     34          0.390986
24     35          0.391484
25     36          0.417610
26     37          0.360191
27     38          0.311670
28     39          0.315590
29     40          0.322743
30     42          0.389263
31     44          0.798562
32     45          0.618104
33     47          0.332551
34     48          0.462192
35     49          0.533684
36     50          0.451615
37     51          0.467058
38     52          0.222956
39     53          0.207505
40     54          0.255091
41     55          0.375683
42     56          0.426576
43     57          0.516075
44     58          0.114719
45     59          0.425912
46     60          0.762753
47     61          0.752066
48     62          0.506165
49     63          0.896580
50     64          0.276248
51     65          0.548572
52     67          0.586191
53     70          0.371535
54     72          0.162748
55     73          0.300328
56     75          0.386061
57     78          0.432777
58     79         -0.138575
59     80          0.301042
60     82          0.571810
61     83          0.715527
62     87          0.325093
63     94          0.251978

In [15]:
df=df.merge(df_temp, on=['SIC_2'])
df.head()

,Symbol,Name,Stock Exchange,RBICS Economy,SIC Code,SIC_2,Book_Value_1,Book_Value_2,Book_Value_3,Book_Value_4,Book_Value_5,Market_Value_1,Market_Value_2,Market_Value_3,Market_Value_4,Market_Value_5,Longterm_BV,Longterm_MV,Longterm_BMR,Industry_Ave_BMR
0,A,"Agilent Technologies, Inc.",NYSE,Healthcare,3826.0,38,4243.00,4831.00,4567.00,4748.00,4873.00,13888.06,14658.83,21632.52,21488.24,26461.75,4652.400,19625.880,0.237054,0.31167
1,ABMD,"ABIOMED, Inc.",NASDAQ,Healthcare,3841.0,38,368.78,452.07,689.52,936.89,1065.47,3831.24,4888.17,8286.55,14645.67,7695.80,702.546,7869.486,0.089275,0.31167
2,ABT,Abbott Laboratories,NYSE,Healthcare,3841.0,38,21211.00,20538.00,30897.00,30524.00,31088.00,66993.14,56551.41,99336.08,127035.57,153608.06,26851.600,100704.852,0.266637,0.31167
3,AJRD,"Aerojet Rocketdyne Holdings, Inc.",NYSE,Industrials,3812.0,38,-145.50,35.60,102.40,421.30,576.70,1005.37,1256.50,2343.12,2758.51,3593.07,198.100,2191.314,0.090402,0.31167
4,ALGN,"Align Technology, Inc.",NASDAQ,Healthcare,3843.0,38,847.93,995.39,1154.29,1252.89,1346.17,5234.43,7660.54,17814.68,16751.13,21991.97,1119.334,13890.550,0.080582,0.31167

In [16]:
df.tail()

,Symbol,Name,Stock Exchange,RBICS Economy,SIC Code,SIC_2,Book_Value_1,Book_Value_2,Book_Value_3,Book_Value_4,Book_Value_5,Market_Value_1,Market_Value_2,Market_Value_3,Market_Value_4,Market_Value_5,Longterm_BV,Longterm_MV,Longterm_BMR,Industry_Ave_BMR
1488,MO,Altria Group Inc,NYSE,Consumer Non-Cyclicals,2111.0,21,2880.00,12770.00,15377.00,14787.00,6222.00,114095.06,131877.31,136263.82,92559.70,93238.19,10407.200,113606.816,0.091607,-0.059793
1489,PM,Philip Morris International Inc.,NYSE,Consumer Non-Cyclicals,2111.0,21,-13244.00,-12688.00,-12086.00,-12459.00,-11577.00,136202.84,141933.00,164095.85,103780.02,132389.37,-12410.800,135680.216,-0.091471,-0.059793
1490,VGR,Vector Group Ltd.,NYSE,Consumer Non-Cyclicals,2111.0,21,-206.05,-332.00,-413.92,-548.06,-685.46,2891.95,2907.07,3025.30,1371.10,1978.91,-437.098,2434.866,-0.179516,-0.059793
1491,SKX,"Skechers U.S.A., Inc. Class A",NYSE,Consumer Cyclicals,3149.0,31,1327.56,1603.63,1829.06,2034.96,2314.67,4720.23,3880.60,5996.52,3617.62,6770.37,1821.976,4997.068,0.364609,0.364854
1492,WWW,"Wolverine World Wide, Inc.",NYSE,Consumer Cyclicals,3149.0,31,963.70,966.50,949.60,986.00,766.70,1719.28,2165.60,3050.30,3024.44,2728.75,926.500,2537.674,0.365098,0.364854

### 3. Calculating Industry_Adjusted_BMR_Quarterly

In [17]:
df_BMR = pd.read_csv('https://raw.githubusercontent.com/sunshineluyao/ESG_TwoSources/main/Sorting/SP1500_Book_Mkt.csv')
df_BMR.head()

,Ticker Symbol,Book_Q1,Book_Q2,Book_Q3,Book_Q4,Mkt_Q1,Mkt_Q2,Mkt_Q3,Mkt_Q4
0,A,4848.00,4768.00,4981.00,4873.00,26461.75,22177.23,27286.66,31120.77
1,AAL,-118.00,-2636.00,-3169.00,-5528.00,12563.50,5193.66,6640.99,6250.22
2,AAOI,273.79,257.50,257.46,265.17,238.93,153.56,221.09,256.21
3,AAON,290.14,306.32,322.70,344.89,2573.20,2514.77,2824.79,3148.77
4,AAP,3549.08,3537.03,3726.52,3762.66,11092.58,6447.43,9843.47,10612.80

In [18]:
df_BMR['BMR_Q1']=df_BMR['Book_Q1']/df_BMR['Mkt_Q1']
df_BMR['BMR_Q2']=df_BMR['Book_Q2']/df_BMR['Mkt_Q2']
df_BMR['BMR_Q3']=df_BMR['Book_Q3']/df_BMR['Mkt_Q3']
df_BMR['BMR_Q4']=df_BMR['Book_Q4']/df_BMR['Mkt_Q4']
df_BMR=df_BMR[['Ticker Symbol','BMR_Q1','BMR_Q2','BMR_Q3','BMR_Q4']]
df_BMR.head()

  Ticker Symbol    BMR_Q1    BMR_Q2    BMR_Q3    BMR_Q4
0             A  0.183208  0.214995  0.182543  0.156584
1           AAL -0.009392 -0.507542 -0.477188 -0.884449
2          AAOI  1.145900  1.676869  1.164503  1.034971
3          AAON  0.112755  0.121808  0.114239  0.109532
4           AAP  0.319951  0.548595  0.378578  0.354540

In [19]:
df_BMR=df_BMR.merge(df[['Symbol','Industry_Ave_BMR']], left_on='Ticker Symbol',right_on='Symbol')
df_BMR.head()

,Ticker Symbol,BMR_Q1,BMR_Q2,BMR_Q3,BMR_Q4,Symbol,Industry_Ave_BMR
0,A,0.183208,0.214995,0.182543,0.156584,A,0.311670
1,AAL,-0.009392,-0.507542,-0.477188,-0.884449,AAL,0.618104
2,AAOI,1.145900,1.676869,1.164503,1.034971,AAOI,0.668325
3,AAON,0.112755,0.121808,0.114239,0.109532,AAON,0.391484
4,AAP,0.319951,0.548595,0.378578,0.354540,AAP,0.375683

In [20]:
df_BMR['Industry_Adjusted_BMR_Q1']=df_BMR['BMR_Q1']-df_BMR['Industry_Ave_BMR']
df_BMR['Industry_Adjusted_BMR_Q2']=df_BMR['BMR_Q2']-df_BMR['Industry_Ave_BMR']
df_BMR['Industry_Adjusted_BMR_Q3']=df_BMR['BMR_Q3']-df_BMR['Industry_Ave_BMR']
df_BMR['Industry_Adjusted_BMR_Q4']=df_BMR['BMR_Q4']-df_BMR['Industry_Ave_BMR']
df_BMR=df_BMR[['Symbol','Industry_Adjusted_BMR_Q1','Industry_Adjusted_BMR_Q2','Industry_Adjusted_BMR_Q3','Industry_Adjusted_BMR_Q4']]
df_BMR.head()

,Symbol,Industry_Adjusted_BMR_Q1,Industry_Adjusted_BMR_Q2,Industry_Adjusted_BMR_Q3,Industry_Adjusted_BMR_Q4
0,A,-0.128462,-0.096675,-0.129127,-0.155087
1,AAL,-0.627497,-1.125646,-1.095292,-1.502553
2,AAOI,0.477576,1.008544,0.496178,0.366647
3,AAON,-0.278730,-0.269676,-0.277246,-0.281953
4,AAP,-0.055732,0.172913,0.002895,-0.021143

In [22]:
Q1= [1,2,3]
Q2= [4,5,6]
Q3= [7,8,9]
Q4= [10,11,12]

In [ ]:
for i in Q1:
  df_BMR[i]=df_BMR['Industry_Adjusted_BMR_Q1']
for i in Q2:
  df_BMR[i]=df_BMR['Industry_Adjusted_BMR_Q2']
for i in Q3:
  df_BMR[i]=df_BMR['Industry_Adjusted_BMR_Q3']
for i in Q4:
  df_BMR[i]=df_BMR['Industry_Adjusted_BMR_Q4']

In [ ]:
df_BMR.head()

,Symbol,Industry_Adjusted_BMR_Q1,Industry_Adjusted_BMR_Q2,Industry_Adjusted_BMR_Q3,Industry_Adjusted_BMR_Q4,1,2,3,4,5,6,7,8,9,10,11
0,A,-0.128462,-0.096675,-0.129127,-0.155087,-0.128462,-0.128462,-0.128462,-0.096675,-0.096675,-0.096675,-0.129127,-0.129127,-0.129127,-0.155087,-0.155087
1,AAL,-0.627497,-1.125646,-1.095292,-1.502553,-0.627497,-0.627497,-0.627497,-1.125646,-1.125646,-1.125646,-1.095292,-1.095292,-1.095292,-1.502553,-1.502553
2,AAOI,0.477576,1.008544,0.496178,0.366647,0.477576,0.477576,0.477576,1.008544,1.008544,1.008544,0.496178,0.496178,0.496178,0.366647,0.366647
3,AAON,-0.278730,-0.269676,-0.277246,-0.281953,-0.278730,-0.278730,-0.278730,-0.269676,-0.269676,-0.269676,-0.277246,-0.277246,-0.277246,-0.281953,-0.281953
4,AAP,-0.055732,0.172913,0.002895,-0.021143,-0.055732,-0.055732,-0.055732,0.172913,0.172913,0.172913,0.002895,0.002895,0.002895,-0.021143,-0.021143

### create panel data for size, momentum, and industry adjusted BMR

In [ ]:
df_Size_Mom=pd.read_csv("https://raw.githubusercontent.com/sunshineluyao/ESG_TwoSources/main/SP1500_Size_Mom_Pre_Analysis.csv")
df_Size_Mom.head()

,Symbol,Size_1,Size_2,Size_3,Size_4,Size_5,Size_6,Size_7,Size_8,Size_9,Size_10,Size_11,Mom_1,Mom_2,Mom_3,Mom_4,Mom_5,Mom_6,Mom_7,Mom_8,Mom_9,Mom_10,Mom_11
0,A,26461.7,25608.7,23950.9,22502.3,23737.9,27292.6,27286.7,29744.5,31007.4,31120.8,31475.3,11.6,26.5,8.6,-5.1,-12.2,-1.0,31.5,16.6,39.2,41.2,34.9
1,AAL,12280.8,11492.9,8116.4,5219.2,5079.0,4440.4,6641.0,5655.2,6636.7,6250.2,5737.4,-28.4,-10.7,-25.7,-45.0,-62.3,-64.6,-61.4,-60.2,-62.7,-50.4,-54.1
2,AAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAOI,239.0,227.4,179.7,153.8,217.1,179.6,221.1,323.6,264.9,256.2,200.0,-48.0,-23.0,-34.6,-32.6,-39.8,-12.6,2.0,6.8,43.1,30.7,10.0
4,AAON,2574.2,2732.0,2865.6,2514.0,2479.7,2818.5,2824.8,3082.9,2975.3,3148.8,3052.6,30.1,40.9,43.5,33.3,4.0,-4.5,19.3,9.2,14.2,18.7,31.6

In [ ]:
df_Size_Mom.isna().sum()

Symbol      0
Size_1      6
Size_2      6
Size_3      6
Size_4      4
Size_5      3
Size_6      3
Size_7      3
Size_8      3
Size_9      3
Size_10     2
Size_11     2
Mom_1      16
Mom_2      16
Mom_3      16
Mom_4      14
Mom_5      13
Mom_6      12
Mom_7      10
Mom_8       7
Mom_9       7
Mom_10      7
Mom_11      6
dtype: int64

In [ ]:
df_Size_Mom=df_Size_Mom.dropna()
df_Size_Mom.tail()

,Symbol,Size_1,Size_2,Size_3,Size_4,Size_5,Size_6,Size_7,Size_8,Size_9,Size_10,Size_11,Mom_1,Mom_2,Mom_3,Mom_4,Mom_5,Mom_6,Mom_7,Mom_8,Mom_9,Mom_10,Mom_11
1497,ZEUS,197.0,161.6,132.6,106.4,103.8,121.2,129.1,116.2,121.8,125.8,126.4,-8.7,25.6,-23.7,-38.0,-38.6,-41.0,-10.9,-13.1,-12.2,2.3,-19.4
1498,ZION,8569.8,7508.4,6588.5,4513.6,5179.4,5391.9,5571.3,5324.4,5273.5,4791.4,5292.6,2.3,27.4,-5.8,-21.9,-42.7,-34.9,-23.6,-26.6,-24.4,-21.7,-32.0
1499,ZTS,63038.2,63924.1,63275.5,55415.3,61410.6,66202.0,65085.9,72039.0,76070.7,78574.7,75334.2,28.4,54.7,54.0,39.1,15.9,27.0,37.9,20.7,31.1,26.6,32.2
1500,ZUMZ,891.2,804.3,684.6,442.9,537.2,619.2,696.3,587.5,653.1,708.0,712.6,49.8,80.2,24.0,4.8,-31.7,-16.9,23.2,6.5,0.9,-1.2,-11.5
1501,ZYXI,257.7,314.7,426.3,354.4,586.2,643.9,825.5,663.6,513.6,605.6,445.0,238.7,167.7,144.5,165.2,138.1,194.8,165.8,159.3,107.6,65.5,79.3

In [ ]:
columns_size =['Symbol']+['Size_1',	'Size_2',	'Size_3',	'Size_4',	'Size_5',	'Size_6',	'Size_7',	'Size_8',	'Size_9',	'Size_10','Size_11']
columns_Mom = ['Symbol']+['Mom_1',	'Mom_2',	'Mom_3',	'Mom_4',	'Mom_5',	'Mom_6',	'Mom_7',	'Mom_8',	'Mom_9',	'Mom_10',	'Mom_11']
df_Size =df_Size_Mom[columns_size]
df_Mom = df_Size_Mom[columns_Mom]
df_Mom.head()

,Symbol,Mom_1,Mom_2,Mom_3,Mom_4,Mom_5,Mom_6,Mom_7,Mom_8,Mom_9,Mom_10,Mom_11
0,A,11.6,26.5,8.6,-5.1,-12.2,-1.0,31.5,16.6,39.2,41.2,34.9
1,AAL,-28.4,-10.7,-25.7,-45.0,-62.3,-64.6,-61.4,-60.2,-62.7,-50.4,-54.1
3,AAOI,-48.0,-23.0,-34.6,-32.6,-39.8,-12.6,2.0,6.8,43.1,30.7,10.0
4,AAON,30.1,40.9,43.5,33.3,4.0,-4.5,19.3,9.2,14.2,18.7,31.6
5,AAP,-11.6,1.7,-17.2,-17.2,-46.3,-26.2,-10.1,-9.0,0.1,13.3,-8.2

### Pilot the table to create Monthly Panel

In [ ]:
Month_List = [1,2,3,4,5,6,7,8,9,10,11]
df_Size.columns =['Symbol']+Month_List
df_Size.head()

,Symbol,1,2,3,4,5,6,7,8,9,10,11
0,A,26461.7,25608.7,23950.9,22502.3,23737.9,27292.6,27286.7,29744.5,31007.4,31120.8,31475.3
1,AAL,12280.8,11492.9,8116.4,5219.2,5079.0,4440.4,6641.0,5655.2,6636.7,6250.2,5737.4
3,AAOI,239.0,227.4,179.7,153.8,217.1,179.6,221.1,323.6,264.9,256.2,200.0
4,AAON,2574.2,2732.0,2865.6,2514.0,2479.7,2818.5,2824.8,3082.9,2975.3,3148.8,3052.6
5,AAP,11092.6,9124.9,9210.1,6681.5,8353.6,9627.2,9843.5,10374.9,10807.1,10612.8,10182.8

In [ ]:
Month_List = [1,2,3,4,5,6,7,8,9,10,11]
df_Mom.columns =['Symbol']+Month_List
df_Mom.head()

  Symbol     1     2     3     4     5     6     7     8     9    10    11
0      A  11.6  26.5   8.6  -5.1 -12.2  -1.0  31.5  16.6  39.2  41.2  34.9
1    AAL -28.4 -10.7 -25.7 -45.0 -62.3 -64.6 -61.4 -60.2 -62.7 -50.4 -54.1
3   AAOI -48.0 -23.0 -34.6 -32.6 -39.8 -12.6   2.0   6.8  43.1  30.7  10.0
4   AAON  30.1  40.9  43.5  33.3   4.0  -4.5  19.3   9.2  14.2  18.7  31.6
5    AAP -11.6   1.7 -17.2 -17.2 -46.3 -26.2 -10.1  -9.0   0.1  13.3  -8.2

In [ ]:
df_Size_Long = pd.melt(df_Size, id_vars=['Symbol'], value_vars=Month_List,
        var_name='Month', value_name='Size')
df_Size_Long.head()

  Symbol Month     Size
0      A     1  26461.7
1    AAL     1  12280.8
2   AAOI     1    239.0
3   AAON     1   2574.2
4    AAP     1  11092.6

In [ ]:
df_Mom_Long = pd.melt(df_Mom, id_vars=['Symbol'], value_vars=Month_List,
        var_name='Month', value_name='Mom')
df_Mom_Long.head()

  Symbol Month   Mom
0      A     1  11.6
1    AAL     1 -28.4
2   AAOI     1 -48.0
3   AAON     1  30.1
4    AAP     1 -11.6

In [ ]:
df_Size_Mom_Long=df_Size_Long.merge(df_Mom_Long,on=['Symbol','Month'])
df_Size_Mom_Long.head()

  Symbol Month     Size   Mom
0      A     1  26461.7  11.6
1    AAL     1  12280.8 -28.4
2   AAOI     1    239.0 -48.0
3   AAON     1   2574.2  30.1
4    AAP     1  11092.6 -11.6

In [ ]:
df_BMR =df_BMR[['Symbol']+Month_List]
df_BMR.head()

,Symbol,1,2,3,4,5,6,7,8,9,10,11
0,A,-0.128462,-0.128462,-0.128462,-0.096675,-0.096675,-0.096675,-0.129127,-0.129127,-0.129127,-0.155087,-0.155087
1,AAL,-0.627497,-0.627497,-0.627497,-1.125646,-1.125646,-1.125646,-1.095292,-1.095292,-1.095292,-1.502553,-1.502553
2,AAOI,0.477576,0.477576,0.477576,1.008544,1.008544,1.008544,0.496178,0.496178,0.496178,0.366647,0.366647
3,AAON,-0.278730,-0.278730,-0.278730,-0.269676,-0.269676,-0.269676,-0.277246,-0.277246,-0.277246,-0.281953,-0.281953
4,AAP,-0.055732,-0.055732,-0.055732,0.172913,0.172913,0.172913,0.002895,0.002895,0.002895,-0.021143,-0.021143

In [ ]:
df_BMR_Long = pd.melt(df_BMR, id_vars=['Symbol'], value_vars=Month_List,
        var_name='Month', value_name='Industry_Adjusted_BMR_Quarterly')
df_BMR_Long.head()

  Symbol Month  Industry_Adjusted_BMR_Quarterly
0      A     1                        -0.128462
1    AAL     1                        -0.627497
2   AAOI     1                         0.477576
3   AAON     1                        -0.278730
4    AAP     1                        -0.055732

In [ ]:
df = df_Size_Mom_Long.merge(df_BMR_Long,on=['Symbol','Month'])
df.head()

  Symbol Month     Size   Mom  Industry_Adjusted_BMR_Quarterly
0      A     1  26461.7  11.6                        -0.128462
1    AAL     1  12280.8 -28.4                        -0.627497
2   AAOI     1    239.0 -48.0                         0.477576
3   AAON     1   2574.2  30.1                        -0.278730
4    AAP     1  11092.6 -11.6                        -0.055732

In [ ]:
df.isna().sum()

Symbol                             0
Month                              0
Size                               0
Mom                                0
Industry_Adjusted_BMR_Quarterly    8
dtype: int64

In [ ]:
df=df.dropna()

# Step 3: Creating Size_G, BMR_G, and Mom_G

### For each month, Generate the categories by quintile cut of size

In [ ]:
Month_List = df['Month'].unique().tolist()
Month_List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
df_ =pd.DataFrame()
for i in Month_List:
  df_temp = df[df.Month==i]
  df_temp['Size_G']=pd.qcut(df_temp.Size,5,labels=np.arange(1,6,1))
  df_ =df_.append(df_temp)
df_.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

  Symbol Month     Size   Mom  Industry_Adjusted_BMR_Quarterly Size_G
0      A     1  26461.7  11.6                        -0.128462      5
1    AAL     1  12280.8 -28.4                        -0.627497      4
2   AAOI     1    239.0 -48.0                         0.477576      1
3   AAON     1   2574.2  30.1                        -0.278730      2
4    AAP     1  11092.6 -11.6                        -0.055732      4

In [ ]:
df=df_

### For each month, Generate the categories by quintile of BM Ratio within each Size group.

In [ ]:
df_ =pd.DataFrame()
for i in Month_List:
  df_temp = df[df['Month']==i]
  df_temp['BMR_G'] = df_temp.groupby(['Size_G'])['Industry_Adjusted_BMR_Quarterly'].transform(lambda x: pd.qcut(x, 5, labels=np.arange(1,6,1)))
  df_ =df_.append(df_temp)
df_.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

  Symbol Month     Size   Mom  Industry_Adjusted_BMR_Quarterly Size_G  BMR_G
0      A     1  26461.7  11.6                        -0.128462      5    3.0
1    AAL     1  12280.8 -28.4                        -0.627497      4    1.0
2   AAOI     1    239.0 -48.0                         0.477576      1    4.0
3   AAON     1   2574.2  30.1                        -0.278730      2    1.0
4    AAP     1  11092.6 -11.6                        -0.055732      4    3.0

In [ ]:
df =df_

### For each month, Generate the categories by quintile of Momentum within each  of BM Ratio and Size group.

In [ ]:
df_ =pd.DataFrame()
for i in Month_List:
  df_temp = df[df.Month==i]
  df_temp['Mom_G'] = df_temp.groupby(by=['Size_G','BMR_G'])['Mom'].transform(lambda x: pd.qcut(x, 5, labels=np.arange(1,6,1)))
  df_ =df_.append(df_temp)
df_.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Symbol,Month,Size,Mom,Industry_Adjusted_BMR_Quarterly,Size_G,BMR_G,Mom_G
0,A,1,26461.7,11.6,-0.128462,5,3.0,2.0
1,AAL,1,12280.8,-28.4,-0.627497,4,1.0,1.0
2,AAOI,1,239.0,-48.0,0.477576,1,4.0,1.0
3,AAON,1,2574.2,30.1,-0.278730,2,1.0,4.0
4,AAP,1,11092.6,-11.6,-0.055732,4,3.0,1.0

In [ ]:
df=df_

In [ ]:
df.groupby(by=['Month','Size_G','BMR_G','Mom_G']).size()

Month  Size_G  BMR_G  Mom_G
1      1       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
       2       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       3       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      13
                      5.0      11
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       4       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       5       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      11
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
2      1       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      13
                      2.0      11
                      3.0      12
                      4.0      12
                      5.0      12
       2       1.0    1.0      12
                      2.0      12
                      3.0      13
                      4.0      11
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      13
                      2.0      11
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      13
                      5.0      11
               5.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      11
                      5.0      12
       3       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      11
                      5.0      12
       4       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       5       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      13
                      5.0      11
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
3      1       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
       2       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       3       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      11
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       4       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       5       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
4      1       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
       2       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       3       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      13
                      2.0      11
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       4       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       5       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      13
                      2.0      11
                      3.0      11
                      4.0      12
                      5.0      12
5      1       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
       2       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       3       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               4.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
               5.0    1.0      12
                      2.0      12
                      3.0      11
                      4.0      12
                      5.0      12
       4       1.0    1.0      12
                      2.0      12
                      3.0      12
                      4.0      12
                      5.0      12
               2.0    1.0      14
                      2.0      10
                      3.0      11
                      4.0      12
                      5.0      12
               3.0    1.0      12
                      2.0      12

In [ ]:
df['Size_G']=pd.to_numeric(df['Size_G'])
df.head()

,Symbol,Month,Size,Mom,Industry_Adjusted_BMR_Quarterly,Size_G,BMR_G,Mom_G
0,A,1,26461.7,11.6,-0.128462,5,3.0,2.0
1,AAL,1,12280.8,-28.4,-0.627497,4,1.0,1.0
2,AAOI,1,239.0,-48.0,0.477576,1,4.0,1.0
3,AAON,1,2574.2,30.1,-0.278730,2,1.0,4.0
4,AAP,1,11092.6,-11.6,-0.055732,4,3.0,1.0

In [ ]:
df['Benchmark']=df['Size_G']+0.1*df['BMR_G']+0.01*df['Mom_G']
df.head()

,Symbol,Month,Size,Mom,Industry_Adjusted_BMR_Quarterly,Size_G,BMR_G,Mom_G,Benchmark
0,A,1,26461.7,11.6,-0.128462,5,3.0,2.0,5.32
1,AAL,1,12280.8,-28.4,-0.627497,4,1.0,1.0,4.11
2,AAOI,1,239.0,-48.0,0.477576,1,4.0,1.0,1.41
3,AAON,1,2574.2,30.1,-0.278730,2,1.0,4.0,2.14
4,AAP,1,11092.6,-11.6,-0.055732,4,3.0,1.0,4.31

# Step 4: Generate Portfolio_Return

In [ ]:
df_Return=pd.read_csv("https://raw.githubusercontent.com/sunshineluyao/ESG_TwoSources/main/SP1500_Monthly_Return_Pre_Analysis.csv")
df_Return.head()

,Symbol,Monthly_Return_1,Monthly_Return_2,Monthly_Return_3,Monthly_Return_4,Monthly_Return_5,Monthly_Return_6,Monthly_Return_7,Monthly_Return_8,Monthly_Return_9,Monthly_Return_10,Monthly_Return_11
0,A,-3.2,-6.6,-7.1,11.2,18.8,-1.7,9.3,4.2,-0.2,0.9,14.5
1,AAL,-6.4,-29.0,-36.0,12.3,-1.3,17.6,-13.2,17.4,-6.2,-10.3,25.3
2,AAN,3.9,-33.7,-42.1,61.7,21.0,21.6,15.2,7.1,0.2,-7.0,20.4
3,AAOI,-4.9,-21.0,-15.0,46.4,-12.7,18.8,39.5,-18.2,-3.6,-21.7,-5.4
4,AAON,6.1,4.9,-12.2,1.6,19.3,0.0,12.5,-3.9,5.4,-3.5,11.5

In [ ]:
df_Return.columns =['Symbol']+Month_List
df_Return_Long = pd.melt(df_Return, id_vars=['Symbol'], value_vars=Month_List,
        var_name='Month', value_name='Monthly_Return')
df_Return_Long.head()

  Symbol Month  Monthly_Return
0      A     1            -3.2
1    AAL     1            -6.4
2    AAN     1             3.9
3   AAOI     1            -4.9
4   AAON     1             6.1

In [ ]:
df = df.merge(df_Return_Long, on=['Symbol','Month'])
df.head()

,Symbol,Month,Size,Mom,Industry_Adjusted_BMR_Quarterly,Size_G,BMR_G,Mom_G,Benchmark,Monthly_Return
0,A,1,26461.7,11.6,-0.128462,5,3.0,2.0,5.32,-3.2
1,AAL,1,12280.8,-28.4,-0.627497,4,1.0,1.0,4.11,-6.4
2,AAOI,1,239.0,-48.0,0.477576,1,4.0,1.0,1.41,-4.9
3,AAON,1,2574.2,30.1,-0.278730,2,1.0,4.0,2.14,6.1
4,AAP,1,11092.6,-11.6,-0.055732,4,3.0,1.0,4.31,-17.7

In [ ]:
df_ =pd.DataFrame()
for i in Month_List:
  df_temp1 = df[df.Month==i]
  df_temp2 = df_temp1.groupby('Benchmark',as_index=False)['Monthly_Return'].mean()
  df_temp2.columns=['Benchmark','Portfoio_Return']
  df_temp1=df_temp1.merge(df_temp2, on=['Benchmark'])
  df_ =df_.append(df_temp1)
df_.head()

,Symbol,Month,Size,Mom,Industry_Adjusted_BMR_Quarterly,Size_G,BMR_G,Mom_G,Benchmark,Monthly_Return,Portfoio_Return
0,A,1,26461.7,11.6,-0.128462,5,3.0,2.0,5.32,-3.2,-0.791667
1,AVB,1,29287.1,12.5,-0.210955,5,3.0,2.0,5.32,3.3,-0.791667
2,ECL,1,55628.3,16.3,-0.170082,5,3.0,2.0,5.32,1.6,-0.791667
3,ICE,1,51536.5,15.2,-0.171353,5,3.0,2.0,5.32,7.8,-0.791667
4,IQV,1,29980.8,16.7,-0.124864,5,3.0,2.0,5.32,0.5,-0.791667

In [ ]:
df=df_

# Step 5: Save the dataset to csv

In [ ]:
df.to_csv('Benchmark.csv')